<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"/>
<body>
<nav th:replace="partials :: navbar"></nav>

<form th:action="@{/posts/create/}" th:method="post" th:object="${post}">
    Title:
    <input for="postTitle" th:field="*{title}" id="title" />
    <br />

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Body</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{body}" rows="3"></textarea>
    </div>
    <input type="submit">
</form>
<script th:replace="partials::script"/>
</body>
</html>