<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"/>
<body>
<nav th:replace="partials :: navbar"></nav>


<form th:action="@{/posts/edit/}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{postTitle}" th:value="${postToEdit.getTitle()}" />

    <br />

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Body</label>
        <input class="form-control" id="exampleFormControlTextarea1" rows="3"
        th:field="*{postBody}" th:value="${postToEdit.getBody()}" />
        <input name="postId" type="hidden" th:value="${postToEdit.getId()}">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>


<script th:replace="partials::script"/>
</body>
</html>